nav a > h1{
    color:black;
}

.custom-shape-divider-bottom-1677726560 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1677726560 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 299px;
}

.custom-shape-divider-bottom-1677726560 .shape-fill {
    fill: #9930FFB5;
}
.btn-outline-secondary{
    border:1px solid #9930FFB5;
    color: #9930FFB5;
}
.btn-outline-secondary:hover{
    background-color: #9930FFB5;
}
