@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(255, 255, 255,);
}
body{
     background-color: #1f1f1f;
}
img{
    border:2px solid rgb(253, 253, 253);
}

img:hover {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px #333;
    opacity: .5;
}

a{
    font-size: x-large;
    text-decoration:none;
    color:white;
}
a:hover{
    color:rgb(99, 99, 99);
    transition: .75s;
}